<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="include :: header('违规数据统计列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
    <th:block th:include="include :: ztree-css"/>
</head>
<body class="gray-bg">

<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="user-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                车牌号：<input type="text" name="vehicleNumber"/>
                            </li>
                            <li>
                                车主：<input type="text" name="driverName"/>
                            </li>
                            <li>
                                所属单位：<input type="text" name="collegeName"/>
                            </li>
                            <li>
                                违规分类：<select name="violationTypeId">
                                <option value="">所有</option>
                                <option th:each="violationType : ${violationTypeList}" th:text="${violationType.name}" th:value="${violationType.id}"></option>
                            </select>
                            </li>
                            <li class="select-time">
                                <label>违规时间： </label>
                                <input type="text" class="time-input" placeholder="开始时间" name="startTime" data-type="datetime" data-format="yyyy-MM-dd HH:mm:ss" readonly="readonly" th:value="${#dates.format(#dates.createNow(), 'yyyy-01-01 00:00:00')}"/>
                                <span>-</span>
                                <input type="text" class="time-input" placeholder="结束时间" name="endTime" data-type="datetime" data-format="yyyy-MM-dd HH:mm:ss" readonly="readonly"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" sec:authorize="hasAuthority('event:statistics:export')">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-warning" onclick="convert()">
                    <i class="fa fa-download"></i> 图表转换
                </a>
            </div>

            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>

            <div class="col-sm-12" id="echarts_div">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="echarts" id="echarts-bar-chart"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


</body>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<th:block th:include="include :: ztree-js"/>
<th:block th:include="include :: echarts-js"/>
<script th:inline="javascript">
    $(function () {
        search();
        initChart();
    });

    let searchUrl = /*[[@{/event/statistics/search}]]*/ "";

    function initChart() {
        $.ajax({
            url: searchUrl,
            type: 'post',
            beforeSend: function (request) {
                if (csrfToken && csrfHeader) {
                    request.setRequestHeader(csrfHeader, csrfToken);
                }
            },
            success: function (result) {
                let data = result.data.content;
                let vehicleNumberArrays = [];
                let countArrays = [];
                for (let i = 0; i < data.length; i++) {
                    vehicleNumberArrays.push(data[i].vehicleNumber);
                    countArrays.push(data[i].num);
                }
                var barChart = echarts.init(document.getElementById("echarts-bar-chart"));
                var baroption = {
                    title: {
                        text: '违规数据统计'
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    calculable: true,
                    xAxis: [
                        {
                            type: 'category',
                            data: vehicleNumberArrays
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value'
                        }
                    ],
                    series: [
                        {
                            name: '违规次数',
                            type: 'bar',
                            data: countArrays,
                        },
                    ]
                };
                barChart.setOption(baroption);
                $('#echarts_div').hide();


            }
        });


    }


    let exportUrl = /*[[@{/event/statistics/export}]]*/ "";

    var options = {
        url: searchUrl,
        exportUrl: exportUrl,
        uniqueId: 'id',
        sortName: "time",
        sortOrder: "asc",
        modalName: "违规数据统计",
        columns: [
            {
                field: 'vehicleNumber',
                title: '车牌号'
            },
            {
                field: 'driverName',
                title: '车主'
            },
            {
                field: 'bmmc',
                title: '所属单位',
                formatter: function (value, row, index) {
                    if (row.bmmc === null) {
                        return '未知';
                    }
                    return value;
                },
            },
            {
                field: 'time',
                title: '违规时间',
                sortable: true
            },
            {
                field: 'place',
                title: '违规地点'
            },
            {
                field: 'violationName',
                title: '违规分类'
            },
            {
                field: 'num',
                title: '违规次数'
            },
            {
                field: 'driverPhone',
                title: '车主电话'
            }
        ]
    };
    function search() {
        $.table.init(options);
    }

    let displayTable = false;

    function convert() {
        if (displayTable) {
            $.table.init(options);
            $('#echarts_div').hide();
            displayTable = false;
        } else {
            $.table.destroy();
            $('#echarts_div').show();
            displayTable = true;
        }

    }

</script>
</html>