<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改扣分设置')" />
	<th:block th:include="include :: select2-css" />
</head>
<body>
    <div class="main-content">
        <form class="form-horizontal" id="form-user-edit" th:object="${score}">
            <input name="id" type="hidden" th:value="*{id}"/>
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">名称：</label>
                        <div class="col-sm-8">
                            <input name="name" placeholder="请输入名称" class="form-control" type="text" maxlength="30" th:value="*{name}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">归属区域：</label>
                        <div class="col-sm-8">
                            <select name="regionId" class="form-control m-b">
                                <option th:each="region : ${region}" th:text="${region.name}" th:value="${region.id}" th:selected="${region.id eq score.regionId}">区域</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">分值：</label>
                        <div class="col-sm-8">
                            <input name="number" placeholder="请输入分值" class="form-control" type="text" maxlength="5" th:value="*{number}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">违规类型：</label>
                        <div class="col-sm-8">
                            <select name="violationId" class="form-control m-b">
                                <option th:each="violation : ${violation}" th:text="${violation.name}" th:value="${violation.id}" th:selected="${violation.id eq score.violationId}">违规类型</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">车速范围：</label>
                        <div class="col-sm-4">
                            <input name="minRange" placeholder="请输入车速最小值" class="form-control" type="text" th:value="*{minRange}">
                        </div>
                        <div class="col-sm-4">
                            <input name="maxRange" placeholder="请输入车速最大值" class="form-control" type="text" th:value="*{maxRange}">
                        </div>
                    </div>
                </div>
            </div>



            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-10">
                            <textarea name="remark" maxlength="500" class="form-control" rows="3" th:text="*{remark}"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>

</body>

<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<script th:inline="javascript">

    // $("#form-user-edit").validate({
    // 	onkeyup: false,
    // 	rules:{
    // 		email:{
    //             email:true,
    //             remote: {
    //                 url: prefix + "/checkEmailUnique",
    //                 type: "post",
    //                 dataType: "json",
    //                 data: {
    //                 	"userId": function() {
    //                         return $("#userId").val();
    //                     },
    //         			"email": function() {
    //                         return $.common.trim($("#email").val());
    //                     }
    //                 },
    //                 dataFilter: function (data, type) {
    //                 	return $.validate.unique(data);
    //                 }
    //             }
    // 		},
    // 		phonenumber:{
    // 			isPhone:true,
    //             remote: {
    //                 url: prefix + "/checkPhoneUnique",
    //                 type: "post",
    //                 dataType: "json",
    //                 data: {
    //                 	"userId": function() {
    //                 		return $("#userId").val();
    //                     },
    //         			"phonenumber": function() {
    //                         return $.common.trim($("#phonenumber").val());
    //                     }
    //                 },
    //                 dataFilter: function (data, type) {
    //                 	return $.validate.unique(data);
    //                 }
    //             }
    // 		},
    // 	},
    // 	messages: {
    // 		"email": {
    //             remote: "Email已经存在"
    //         },
    // 		"phonenumber":{
    //         	remote: "手机号码已经存在"
    // 		}
    //     },
    //     focusCleanup: true
    // });


    let updateUrl = /*[[@{/system/score/edit}]]*/ "";

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-user-edit").serializeArray();
            $.operate.saveTab(updateUrl, data);
        }
    }

</script>
</html>