<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增用户')" />
	<th:block th:include="include :: select2-css" />
</head>
<body>
    <div class="main-content">
        <form id="form-user-add" class="form-horizontal">
            <input name="collegeId" type="hidden" id="treeId"/>
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
            	<div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">姓名：</label>
                        <div class="col-sm-8">
                            <input name="name" placeholder="请输入姓名" class="form-control" type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-4 control-label is-required">归属学院：</label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <div class="input-group">-->
<!--                            	<input name="collegeName" onclick="selectDeptTree()" id="treeName" type="text" placeholder="请选择归属学院" class="form-control">-->
<!--                                <span class="input-group-addon"><i class="fa fa-search"></i></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
<!--            <div class="row">-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-4 control-label is-required">手机号码：</label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <div class="input-group">-->
<!--                                <input id="phoneNumber" name="phoneNumber" placeholder="请输入手机号码" class="form-control" type="text" maxlength="11">-->
<!--                                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-4 control-label">邮箱：</label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <div class="input-group">-->
<!--                                <input id="email" name="email" class="form-control email" type="text" maxlength="50" placeholder="请输入邮箱">-->
<!--                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">登录账号：</label>
                        <div class="col-sm-8">
                            <input id="username" name="username" placeholder="请输入登录账号" class="form-control" type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">登录密码：</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input id="password" name="password" placeholder="请输入登录密码" class="form-control" type="password" th:value="${@config.getKey('sys.user.initPassword')}" required>
                                <span class="input-group-addon" title="登录密码,鼠标按下显示密码"
                                    onmousedown="$('#password').attr('type','text')"
                                    onmouseup="$('#password').attr('type','password')"><i class="fa fa-key"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-4 control-label">用户性别：</label>-->
<!--                        <div class="col-sm-8">-->
<!--&lt;!&ndash;                            <select name="sex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">&ndash;&gt;-->
<!--&lt;!&ndash;				                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;				            </select>&ndash;&gt;-->
<!--                            <select name="sex" class="form-control m-b">-->
<!--				                <option value="男">男</option>-->
<!--				                <option value="女">女</option>-->
<!--				            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-sm-6">-->
<!--                    <div class="form-group">-->
<!--                        <label class="col-sm-4 control-label">用户状态：</label>-->
<!--                        <div class="col-sm-8">-->
<!--                            <label class="toggle-switch switch-solid">-->
<!--	                            <input type="checkbox" id="status" checked>-->
<!--	                            <span></span>-->
<!--	                        </label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
<!--            <div class="row">-->
<!--            	<div class="col-sm-12">-->
<!--                    <div class="form-group">-->
<!--                        <label class="col-xs-2 control-label">岗位：</label>-->
<!--                        <div class="col-xs-4">-->
<!--                            <select id="post" class="form-control select2-multiple" multiple>-->
<!--								<option th:each="post:${posts}" th:value="${post.postId}" th:text="${post.postName}" th:disabled="${post.status == '1'}"></option>-->
<!--							</select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row">
            	<div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">角色：</label>
                        <div class="col-xs-10">
                            <label th:each="role:${roles}" class="check-box">
								<input name="role" type="checkbox" th:value="${role.id}" th:text="${role.name}">
							</label>
                        </div>
                    </div>
                </div>
            </div>
<!--            <h4 class="form-header h4">其他信息</h4>-->
<!--            <div class="row">-->
<!--                <div class="col-sm-12">-->
<!--                    <div class="form-group">-->
<!--                        <label class="col-xs-2 control-label">备注：</label>-->
<!--                        <div class="col-xs-10">-->
<!--                            <textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </form>
    </div>
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
</body>
<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<script type="text/javascript" th:inline="javascript">

    let checkUsernameUniqueUrl = /*[[@{/system/user/checkUsernameUnique}]]*/ "";

    $("#form-user-add").validate({
        onkeyup: false,
        rules:{
            username: {
                minlength: 2,
                maxlength: 20,
                remote: {
                    url: checkUsernameUniqueUrl,
                    type: "post",
                    dataType: "json",
                    beforeSend: function (request) {
                        if (csrfToken && csrfHeader) {
                            request.setRequestHeader(csrfHeader, csrfToken);
                        }
                    },
                    data: {
                        "username": function () {
                            return $.common.trim($("#username").val());
                        }
                    },
                    dataFilter: function (data, type) {
                        return $.validate.unique(data);
                    }
                }
            },
            // collegeName: {
            //     required: true,
            // },
            // email:{
            //     email:true,
            //     remote: {
            //         url: prefix + "/checkEmailUnique",
            //         type: "post",
            //         dataType: "json",
            //         data: {
            //             "email": function () {
            //                 return $.common.trim($("#email").val());
            //             }
            //         },
            //         dataFilter: function (data, type) {
            //         	return $.validate.unique(data);
            //         }
            //     }
            // },
            phoneNumber: {
                required: true,
                isPhone: true,
            },
        },
        messages: {
            "username": {
                remote: "账号已经存在"
            },

            "phoneNumber": {
                isPhone: "请填写正确的11位手机号"
            }
        },
        focusCleanup: true
    });

    let createUrl = /*[[@{/system/user/add}]]*/ "";

    function submitHandler() {
        var chrtype = [[${#strings.defaultString(@config.getKey('sys.account.chrtype'), 0)}]];
        var password = $("#password").val();
        if ($.validate.form() && checkpwd(chrtype, password)) {
            var data = $("#form-user-add").serializeArray();
            var status = $("input[id='status']").is(':checked') == true ? 0 : 1;
            var roleIds = $.form.selectCheckeds("role");
            var postIds = $.form.selectSelects("post");
            data.push({"name": "status", "value": status});
            data.push({"name": "roleIds", "value": roleIds});
            data.push({"name": "postIds", "value": postIds});
            $.operate.saveTab(createUrl, data);
        }
    }

    let selectCollegeTree = /*[[@{/system/college/selectCollegeTree/}]]*/ "";

    /* 用户管理-新增-选择部门树 */
    function selectDeptTree() {
        var treeId = $("#treeId").val();
        var collegeId = $.common.isEmpty(treeId) ? "0" : $("#treeId").val();
        var url = selectCollegeTree + collegeId;
        var options = {
            title: '选择学院',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        var body = layer.getChildFrame('body', index);
        $("#treeId").val(body.find('#treeId').val());
        $("#treeName").val(body.find('#treeName').val());
        layer.close(index);
    }

</script>
</html>