<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增代理')" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: jasny-bootstrap-css" />
</head>
<body>
<div class="main-content">
    <form id="form-user-add" class="form-horizontal">
        <input name="collegeId" type="hidden" id="treeId"/>
        <h4 class="form-header h4">基本信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">代理名称：</label>
                    <div class="col-sm-8">
                        <input name="name" placeholder="请输入代理名称" class="form-control" type="text" maxlength="30" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">虚拟域名：</label>
                    <div class="col-sm-8">
                        <input name="virtualDomain" placeholder="请输入虚拟域名" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">内网IP：</label>
                    <div class="col-sm-8">
                        <input name="ip" placeholder="请输入内网IP" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">端口号：</label>
                    <div class="col-sm-8">
                        <input name="port" placeholder="请输入端口号" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">内网域名：</label>
                    <div class="col-sm-8">
                        <select name="protocol" class="form-control">
                            <option value="http" selected>http://</option>
                            <option value="https">https://</option>
                        </select>
                        <input name="url" placeholder="请输入内网域名" class="form-control" type="text" required>
                    </div>
                </div>
            </div>
        </div>
        <!--            <div class="row">-->
        <!--                <div class="col-sm-6">-->
        <!--                    <div class="form-group">-->
        <!--                        <label class="col-sm-4 control-label">手机号码：</label>-->
        <!--                        <div class="col-sm-8">-->
        <!--                            <div class="input-group">-->
        <!--                                <input id="phonenumber" name="phoneNumber" placeholder="请输入手机号码" class="form-control" type="text" maxlength="11">-->
        <!--                                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="col-sm-6">-->
        <!--                    <div class="form-group">-->
        <!--                        <label class="col-sm-4 control-label">邮箱：</label>-->
        <!--                        <div class="col-sm-8">-->
        <!--                            <div class="input-group">-->
        <!--                                <input id="email" name="email" class="form-control email" type="text" maxlength="50" placeholder="请输入邮箱">-->
        <!--                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="row">-->
        <!--                <div class="col-sm-6">-->
        <!--                    <div class="form-group">-->
        <!--                        <label class="col-sm-4 control-label is-required">登录账号：</label>-->
        <!--                        <div class="col-sm-8">-->
        <!--                            <input id="loginName" name="username" placeholder="请输入登录账号" class="form-control" type="text" maxlength="30" required>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--                <div class="col-sm-6">-->
        <!--                    <div class="form-group">-->
        <!--                        <label class="col-sm-4 control-label is-required">登录密码：</label>-->
        <!--                        <div class="col-sm-8">-->
        <!--                            <div class="input-group">-->
        <!--                                <input id="password" name="password" placeholder="请输入登录密码" class="form-control" type="password" th:value="${@config.getKey('sys.user.initPassword')}" required>-->
        <!--                                <span class="input-group-addon" title="登录密码,鼠标按下显示密码"-->
        <!--                                    onmousedown="$('#password').attr('type','text')"-->
        <!--                                    onmouseup="$('#password').attr('type','password')"><i class="fa fa-key"></i></span>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="row">-->
        <!--                <div class="col-sm-6">-->
        <!--                    <div class="form-group">-->
        <!--                        <label class="col-sm-4 control-label">用户性别：</label>-->
        <!--                        <div class="col-sm-8">-->
        <!--&lt;!&ndash;                            <select name="sex" class="form-control m-b" th:with="type=${@dict.getType('sys_user_sex')}">&ndash;&gt;-->
        <!--&lt;!&ndash;				                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>&ndash;&gt;-->
        <!--&lt;!&ndash;				            </select>&ndash;&gt;-->
        <!--                            <select name="sex" class="form-control m-b">-->
        <!--				                <option value="男">男</option>-->
        <!--				                <option value="女">女</option>-->
        <!--				            </select>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--&lt;!&ndash;                <div class="col-sm-6">&ndash;&gt;-->
        <!--&lt;!&ndash;                    <div class="form-group">&ndash;&gt;-->
        <!--&lt;!&ndash;                        <label class="col-sm-4 control-label">用户状态：</label>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="col-sm-8">&ndash;&gt;-->
        <!--&lt;!&ndash;                            <label class="toggle-switch switch-solid">&ndash;&gt;-->
        <!--&lt;!&ndash;	                            <input type="checkbox" id="status" checked>&ndash;&gt;-->
        <!--&lt;!&ndash;	                            <span></span>&ndash;&gt;-->
        <!--&lt;!&ndash;	                        </label>&ndash;&gt;-->
        <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                    </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                </div>&ndash;&gt;-->
        <!--            </div>-->
        <!--            <div class="row">-->
        <!--            	<div class="col-sm-12">-->
        <!--                    <div class="form-group">-->
        <!--                        <label class="col-xs-2 control-label">岗位：</label>-->
        <!--                        <div class="col-xs-4">-->
        <!--                            <select id="post" class="form-control select2-multiple" multiple>-->
        <!--								<option th:each="post:${posts}" th:value="${post.postId}" th:text="${post.postName}" th:disabled="${post.status == '1'}"></option>-->
        <!--							</select>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <div class="row">-->
        <!--            	<div class="col-sm-12">-->
        <!--                    <div class="form-group">-->
        <!--                        <label class="col-xs-2 control-label">角色：</label>-->
        <!--                        <div class="col-xs-10">-->
        <!--                            <label th:each="role:${roles}" class="check-box">-->
        <!--								<input name="role" type="checkbox" th:value="${role.id}" th:text="${role.name}">-->
        <!--							</label>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <h4 class="form-header h4">其他信息</h4>-->
        <!--            <div class="row">-->
        <!--                <div class="col-sm-12">-->
        <!--                    <div class="form-group">-->
        <!--                        <label class="col-xs-2 control-label">备注：</label>-->
        <!--                        <div class="col-xs-10">-->
        <!--                            <textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
    </form>
</div>

<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<th:block th:include="include :: jasny-bootstrap-js" />
<script type="text/javascript" th:inline="javascript">
    var prefix = ctx + "system/user";

    $("#form-user-add").validate({
        onkeyup: false,
        // rules:{
        // 	loginName:{
        // 		minlength: 2,
        // 		maxlength: 20,
        // 		remote: {
        //             url: prefix + "/checkLoginNameUnique",
        //             type: "post",
        //             dataType: "json",
        //             data: {
        //             	"loginName": function() {
        //                     return $.common.trim($("#loginName").val());
        //                 }
        //             },
        //             dataFilter: function(data, type) {
        //             	return $.validate.unique(data);
        //             }
        //         }
        // 	},
        // 	password:{
        // 		minlength: 5,
        // 		maxlength: 20
        // 	},
        // 	email:{
        //         email:true,
        //         remote: {
        //             url: prefix + "/checkEmailUnique",
        //             type: "post",
        //             dataType: "json",
        //             data: {
        //                 "email": function () {
        //                     return $.common.trim($("#email").val());
        //                 }
        //             },
        //             dataFilter: function (data, type) {
        //             	return $.validate.unique(data);
        //             }
        //         }
        // 	},
        // 	phonenumber:{
        // 		isPhone:true,
        //         remote: {
        //             url: prefix + "/checkPhoneUnique",
        //             type: "post",
        //             dataType: "json",
        //             data: {
        //                 "phonenumber": function () {
        //                     return $.common.trim($("#phonenumber").val());
        //                 }
        //             },
        //             dataFilter: function (data, type) {
        //             	return $.validate.unique(data);
        //             }
        //         }
        // 	},
        // },
        // messages: {
        //     "username": {
        //         remote: "用户已经存在"
        //     },
        // 	"email": {
        //         remote: "Email已经存在"
        //     },
        // 	"phoneNumber":{
        //     	remote: "手机号码已经存在"
        // 	}
        // },
        // focusCleanup: true
    });

    let createUrl = /*[[@{/resource/proxy/add}]]*/ "";

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-user-add").serializeArray();
            $.operate.saveTab(createUrl, data);
        }
    }

    let selectCollegeTree = /*[[@{/system/college/selectCollegeTree/}]]*/ "";

    /* 用户管理-新增-选择部门树 */
    function selectDeptTree() {
        var treeId = $("#treeId").val();
        var collegeId = $.common.isEmpty(treeId) ? "0" : $("#treeId").val();
        var url = selectCollegeTree + collegeId;
        console.log(url);
        var options = {
            title: '选择学院',
            width: "380",
            url: url,
            callBack: doSubmit
        };
        $.modal.openOptions(options);
    }

    function doSubmit(index, layero){
        var tree = layero.find("iframe")[0].contentWindow.$._tree;
        var body = layer.getChildFrame('body', index);
        $("#treeId").val(body.find('#treeId').val());
        $("#treeName").val(body.find('#treeName').val());
        layer.close(index);
    }

    // $(function() {
    //     $('#post').select2({
    //         placeholder: "请选择岗位",
    //         allowClear: true
    //     });
    // })
</script>
</body>
</html>