<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增违规分类')" />
</head>
<body>
    <div class="main-content">
        <form id="form-user-add" class="form-horizontal">
            <h4 class="form-header h4">基本信息</h4>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">违规分类名称：</label>
                        <div class="col-sm-8">
                            <input name="name" placeholder="请输入分类名称" class="form-control" type="text" maxlength="30" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label is-required">违规分类编码：</label>
                        <div class="col-sm-8">
                            <input name="code" id="code" type="text" placeholder="请输入分类编码" class="form-control" required>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-header h4">其他信息</h4>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">备注：</label>
                        <div class="col-xs-10">
                            <textarea name="remark" maxlength="500" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
      
    <div class="row">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="btn btn-sm btn-primary" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>

</body>
<th:block th:include="include :: footer"/>
<script type="text/javascript" th:inline="javascript">

    $("#form-user-add").validate({
        onkeyup: false,
        rules: {
            name: {
                required: true
            },
            code: {
                required: true,
            }
        },
        messages: {
            name: {
                required: "请输入分类名称"
            },
            code: {
                required: "请输入分类编码"
            }
        },
        focusCleanup: true
    });

    let createUrl = /*[[@{/system/violation/add}]]*/ "";

    function submitHandler() {
        if ($.validate.form()) {
            var data = $("#form-user-add").serializeArray();
            $.operate.saveTab(createUrl, data);
        }
    }


</script>
</html>